<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Document</title>
	</head>
	<body>
		<section class="page-head">
			<div id="show-name">
				<img src=<%= playerAvatar %> alt="Player Avatar" class="show-avatar" id="show-av1">
				<h1><%= playerName %></h1>
				<img src=<%= playerAvatar %> alt="Player Avatar" class="show-avatar" id="show-av2">
			</div>
			<p>The <%= playerTitle %></p>
		</section>
		<section id="hero-info">
			<ul>
				<li>
					<h2>Stengths</h2>
					<p><%= playerStrengths[0] %>, <%= playerStrengths[1] %>, <%= playerStrengths[2] %></p>
				</li>
				<li>
					<h2>Favorites</h2>
					<p><%= playerFaves %></p>
				</li>
			</ul>
		</section>
		<div class="button-box">
            <form action="/heroes/<%= _id %>/edit">
				<button type="submit">Edit Profile</button>
			</form>
			<form action="/heroes">
				<button type="submit">Return to Den</button>
			</form>
			<form action="/">
				<button type="submit">Return To Lobby</button>
			</form>
		</div>
	</body>
</html>
