<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Document</title>
	</head>
	<body>
		<section class="page-head">
			<h1>New Record</h1>
		</section>

		<form action="/champions/records" method="POST" class="data-entry">

			<!-- calendar date selector (pre-filled) -->
			<label for="gameDate">Date</label>
			<input type="date" name="gameDate" id="gameDate" value=<%= date %>>

			<!-- text input for now -->
			<label for="gameName">Game Played</label>
			<input type="text" name="gameName" id="gameName" />

			<!-- game winners (can select multiple) -->
			<label for="gameWinners">Winner(s)</label>
				<div id="winner-list">
					<select name="gameWinners" id="gameWinners">
						<% players.forEach((player) => { %>
							<option value=<%= player._id %>>
								<%= player.playerName %>
							</option>
						<% }) %>
					</select>
				</div>
			<button type="button" id="add-winner">Add Player</button>
			<button type="button" id="remove-winner">Remove Player</button>

			<!-- runners up (can select multiple) -->
			<label for="runnersUp">Runner(s) Up</label>
				<div id="runner-list">
					<select name="runnersUp" id="runnersUp">
						<% players.forEach((player) => { %>
							<option value=<%= player._id %>>
								<%= player.playerName %>
							</option>
						<% }) %>
					</select>
				</div>
			<button type="button" id="add-runner">Add Player</button>
			<button type="button" id="remove-runner">Remove Player</button>

			<!-- memories for standout moments, etc (textarea) -->
			<label for="memories">Memories</label>
			<p>Standout moments, memorable plays, inside jokes, etc.</p>
			<textarea name="memories" id="memories" rows="3"></textarea>
		
		<!-- const gameRecord = new mongoose.Schema({
		gameDate: String,
		gameName: String,
		gameWinners: [String],
		runnersUp: [String],
		memories: String,
		}); -->

		<div class="button-box">
			<button type="submit">Submit Record</button>
		</form>
			<form action="/champions/records">
				<button type="submit">Return to Records</button>
			</form>
			<form action="/">
				<button type="submit">Return To Lobby</button>
			</form>
		</div>
		<script src="/js/add-winners.js"></script>
	</body>
</html>
