<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title><%= record.gameName %> <%= record.gameDate %></title>
	</head>
	<body>
		<section class="page-head">
			<h1>Gameplay Record</h1>
		</section>
		<section id="record-info">
			<ul>
				<li>
					<h2>Date</h2>
					<p><%= record.gameDate %></p>
				</li>
				<li>
					<h2>Game Played</h2>
					<p><%= record.gameName %></p>
				</li>
				<li>
					<h2>Winner(s)</h2>
					<div class="player-box">
						<% record.gameWinners.forEach((winner) => { %>
							<a href="/heroes/<%= winner._id %>">
								<img src=<%= winner.playerAvatar %> alt="Player Avatar" class="inline-avatar">
								<%= winner.playerName %> the <%= winner.playerTitle %>
							</a>
						<% }) %>
					</div>
				</li>
				<li>
					<h2>Runner(s) Up</h2>
					<div class="player-box">
						<% record.runnersUp.forEach((runner) => { %>
							<a href="/heroes/<%= runner._id %>">
								<img src=<%= runner.playerAvatar %> alt="Player Avatar" class="inline-avatar">
								<%= runner.playerName %> the <%= runner.playerTitle %>
							</a>
						<% }) %>
					</div>
				</li>
				<li>
					<h2>Memories</h2>
					<p><%= record.memories %></p>
				</li>
			</ul>
		</section>
		<div class="button-box">
			<form action="/champions/records/<%= record._id %>/edit">
				<button type="submit">Edit Record</button>
			</form>
			<form action="/champions/records">
				<button type="submit">Return to Records</button>
			</form>
			<form action="/">
				<button type="submit">Return To Lobby</button>
			</form>
		</div>
	</body>
</html>
